<%- include("header") -%>

<h1>This is Simply Awesome Todo-List created by No One </h1>
<p>This uses tools like html css javascript express ejs to make a simply awesome to do list</p>

<%- include("footer") -%>
